# Бинарные файлы: хранятся в git как есть (Git LFS не используется).
*.pdf  binary
*.dwg  binary
*.dxf  binary
*.jpg  binary
*.jpeg binary
*.png  binary
*.mp4  binary
*.zip  binary
*.gpp  binary
*.xlsx binary
